$primary_color: #555555;

.Card_Frame{
    height: 360px;
    width: 316px;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 17px;
    box-sizing: border-box;
    margin: 10px;
    .Logo{
        height: 80px;
        // background-color: teal;
        display: flex;
        justify-content: space-between;
    .logo_box{
        height: 82px;
        width: 83px;
        border: 1px solid white;
        border-radius: 12px;
        background: linear-gradient(to bottom, #FEFEFD, #F1F1F1);
        box-shadow: 0px 0px 10.5px 0px rgba(148, 148, 148, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        .Inner_cir{
      height: 63px;
      width:63px;
      background-color: white;
      border-radius: 50px;
    }
}
    .time_label{
        height: 33px;
        width:75px;
        background-color: #B0D9FF;
        border-radius: 10px;
        font-weight:normal;
        font-size: 14px;
        font-family: 'Satoshi', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align:center;
        // justify-content: center;
    }
    }
    .Title{
        margin-top: 20px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 700;
        font-size: 20px;
        // background-color: #B0D9FF;
    }
    .description{
        margin-top: 15px;
        color: #5A5A5A;
        font-size: 16px;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        span{
            font-family: 'Satoshi', sans-serif;
            font-weight: 100; 
        }
    }
    .job_des{
        margin-top: 15px;
        margin-bottom: 12px;
        height: 100px;
        // background-color: indianred;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        color: $primary_color;
        ul{
            list-style-type:disc;
            margin: 0px;
            padding-left: 20px;
            li{
                font-size: 14px;
                margin: 0px;
                padding: 0px;
            }
            li::marker {
               color: $primary_color;
               margin: none;
               }
        }
    }
    .btn{
        button{
            background-color: #00AAFF;
            color: white;
            width: 284px;
            height: 46px;
            border: none;
            border-radius: 12px;
        }
    }
}